@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


/* Basic styles: Reset */

body {
	overflow: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
	margin:0; 
	padding:0; 
}
img {
    max-width: 100%;
	display: block;
}
* {
	box-sizing: border-box;
}

/* Basic styles: Typography
 */

:root {
    --ds-body-font: 'Alegreya Sans', sans-serif;
    --ds-heading-font: Quicksand, Helvetica, sans-serif;
}

/* Basic styles: Typography
 */

:root {
    --ds-font-size: calc(1.25 * 1rem);
    --ds-font-weight: 300;
    --ds-line-height: calc(1.5 * var(--ds-font-size));
    --ds-color: var(--grey-medium);
    --ds-contrast: var(--grey-medium);
    --ds-background:var(--white);
    --ds-heading-weight: 400;
    --ds-heading-multiplier: 1.27201965;
    --ds-spacing: var(--ds-line-height);
    --ds-h1-font-size: calc(1em * var(--ds-heading-multiplier) * var(--ds-heading-multiplier) * var(--ds-heading-multiplier));
    --ds-h1-line-height: calc(2 * var(--ds-line-height));
    --ds-h2-font-size: calc(1em * var(--ds-heading-multiplier) * var(--ds-heading-multiplier));
    --ds-h2-line-height: var(--ds-line-height);
    --ds-h3-font-size: calc(1em * var(--ds-heading-multiplier));    
    --ds-h3-line-height: var(--ds-line-height);
}
body {
    font-family: var(--ds-body-font);
    font-size: var(--ds-font-size);
    font-weight: var(--ds-font-weight);
    line-height: var(--ds-line-height);
}
h1 {
    --ds-font-size: var(--ds-h1-font-size);
    line-height: var(--ds-h1-line-height);
}
h2 {
    --ds-font-size: var(--ds-h2-font-size);    
    line-height: var(--ds-h2-line-height);
}
h3 {
    --ds-font-size: var(--ds-h3-font-size);    
    line-height: var(--ds-h3-line-height);
}
h1, h2, h3, h4, h5, h6 {
    font-size: var(--ds-font-size);
    font-weight: var(--ds-heading-weight);
    font-family: var(--ds-heading-font);
}
h4, h5, h6 {
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
    margin: var(--ds-spacing) 0;
}
dd, li, blockquote {
    margin-left: var(--ds-spacing);
}
.ds-space {
    margin: var(--ds-line-height);
}
.ds-space-vertical {
    margin: var(--ds-line-height) 0;
}
.ds-margin-up {
    margin-top: calc(-1 * var(--ds-spacing));
}


/* Basic styles: Colors */

.ds-color {
    display: flex;
    text-align: center;
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
}
:root {
    --ds-black: #000;
    --ds-white: #FFF;
    --ds-primary: hsl(54,100%,50%);
    --ds-primary-dark: hsl(54,100%,40%);
    --ds-primary-contrast: var(--ds-black);
    --ds-primary-light: hsl(54,100%,60%);
    --ds-primary-gradient: linear-gradient( to left, var(--ds-primary-light), var(--ds-primary-dark) );
    --ds-support: hsl(54,20%,20%);
    --ds-support-dark: hsl(54,20%,10%);
    --ds-support-light: hsl(54,20%,30%);
    --ds-support-contrast: #FFF;
    --ds-support-gradient: linear-gradient( to left, var(--ds-support-light), var(--ds-support-dark) );
    --ds-grey-dark: #38393C;
    --ds-grey-medium: #7F8185;
    --ds-grey-light: #E9EBEC;
}
.ds-bg-primary {
    background: var(--ds-primary);
    color: var(--ds-primary-contrast);
    --ds-contrast: var(--ds-primary-contrast);
}
.ds-bg-primary-gradient {
    background: linear-gradient( to left, var(--ds-primary-dark), var(--ds-primary-light) );
    color: var(--ds-primary-contrast);
    --ds-contrast: var(--ds-primary-contrast);
}
.ds-bg-support {
    background: var(--ds-support);
    color: var(--ds-support-contrast);
    --ds-contrast: var(--ds-support-contrast);
}
.ds-bg-support-gradient {
    background: var(--ds-support-gradient);
    color: var(--ds-support-contrast);
    --ds-contrast: var(--ds-support-contrast);
}
.ds-bg-grey-dark {
    background: var(--ds-grey-dark);
    color: var(--ds-white);
    --ds-contrast: var(--ds-white);
}
.ds-bg-grey-medium {
    background: var(--ds-grey-medium);
    color: var(--ds-white);
    --ds-contrast: var(--ds-white);
}
.ds-bg-grey-light {
    background: var(--ds-grey-light);
    color: var(--ds-black);
    --ds-contrast: var(--ds-black);
}

/* Basic styles: Shadows */

:root {
    --ds-shadow-light: var(--ds-grey-medium);
    --ds-shadow-middle: var(--ds-grey-dark);
    --ds-shadow-dark: var(--ds-black);
    --ds-shadow-small: 0 0 3px var(--ds-shadow-light);
    --ds-shadow-medium: 0 0 6px var(--ds-shadow-middle);
    --ds-shadow-large: 0 0 12px var(--ds-shadow-dark);
}
.ds-shadow-small {
    box-shadow: var(--ds-shadow-small);
}
.ds-shadow-medium {
    box-shadow: var(--ds-shadow-medium);
}
.ds-shadow-large {
    box-shadow: var(--ds-shadow-large);
}

/* Basic styles: Feather Icons */

.ds-icon {
    display: inline-block;
    height: calc(0.75 * var(--ds-font-size));
    width: calc(0.75 * var(--ds-font-size));
    vertical-align: middle;
}

.ds-icon-feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: square;
    fill: none;
}

/* Grid: 12 column grid */

:root {
    --ds-grid-spacing: var(--ds-spacing);
    --ds-grid-spacing-column: var(--ds-grid-spacing);
    --ds-grid-spacing-row: var(--ds-grid-spacing);
}
.ds-grid-fixed {
    display: grid;
    grid-column-gap: var(--ds-grid-spacing-column);
    grid-row-gap: var(--ds-grid-spacing-row);
    grid-auto-flow: row;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(12, 1fr);
}
.ds-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.ds-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.ds-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.ds-grid-6 {
    grid-template-columns: repeat(6, 1fr);
}
.ds-grid-span-2 {
    grid-column: auto / span 2;
}
.ds-grid-span-3 {
    grid-column: auto / span 3;
}
.ds-grid-span-4 {
    grid-column: auto / span 4;
}
.ds-grid-span-5 {
    grid-column: auto / span 5;
}
.ds-grid-span-6 {
    grid-column: auto / span 6;
}
.ds-grid-span-7 {
    grid-column: auto / span 7;
}
.ds-grid-span-8 {
    grid-column: auto / span 8;
}
.ds-grid-span-9 {
    grid-column: auto / span 9;
}
.ds-grid-span-10 {
    grid-column: auto / span 10;
}
.ds-grid-span-11 {
    grid-column: auto / span 11;
}
.ds-grid-span-6 {
    grid-column: auto / span 12;
}
.ds-grid-span-all {
    grid-column: 1 / -1;
}
.ds-grid-row-2 {
    grid-row: auto / span 2;
}
.ds-grid-row-3 {
    grid-row: auto / span 3;
}
.ds-grid-row-4 {
    grid-row: auto / span 4;
}
.ds-grid-row-5 {
    grid-row: auto / span 5;
}
.ds-grid-row-6 {
    grid-row: auto / span 6;
}
.ds-grid-row-7 {
    grid-row: auto / span 7;
}
.ds-grid-row-8 {
    grid-row: auto / span 8;
}
.ds-grid-row-9 {
    grid-row: auto / span 9;
}
.ds-grid-row-10 {
    grid-row: auto / span 10;
}

/* Pages: Products */

.vendy {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    --ds-grid-spacing-column: 10px;
    --ds-grid-spacing-row: 10px;
    background-color: #444;
    --vendy-padding: 10px;
    background-color: #444;
    box-sizing: padding-box;
    padding: var(--vendy-padding);
}
.vendy-cell {
    position: relative;
    height: calc((1024px - (2 * var(--vendy-padding)) - (5 * var(--ds-grid-spacing-row)))/ 6 );
    border-radius: 6px;
    background: linear-gradient(0deg, #666 0%, #AAA 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    box-shadow: 2px 2px 8px #666 inset;
    overflow: hidden;
}
.vendy-cell img {
    max-height: 100%;
    margin: 0 auto;
}
.vendy-fill {
    padding: 0;
    position: relative;
}
.vendy-fill::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 8px #666 inset;
}
.vendy-fill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vendy-price {
    color: var(--ds-primary-contrast);
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--ds-h3-font-size);
    line-height: var(--ds-h3-line-height);
    padding: 0 5px 5px 5px;
    opacity: 0.8;
}
.vendy-price::before {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    width: 150%;
    box-sizing: border-box;    
    display: block;
    border-bottom-color: var(--ds-primary);
    top: -10px;
    left: 0px;
    z-index:-1;
}
.vendy-price::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    background-color: var(--ds-primary);
    display: block;
    height: calc(var(--ds-line-height) - 5px);
    z-index: -1;
}
