html, body {
	padding: 0px;
	margin: 0px;
	background-color: #ffbda8;
	color: #000000;
	background-image: url('background.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom; 
}
